.song-card {
  border: 1px solid #f1f1f1;
  border-radius: 0.25rem;
  padding: 1rem;
  max-width: 18rem;
  margin: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.song-thumb {
  max-width: 100%;
  height: auto;
}
